body {
    background-color: rgb(127, 255, 212);
    align-items: center; 
    text-align: center;
    padding-top: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#idCNP {
  font-size: 40px;
}



#generare {
  display: flex;                 
  flex-direction: column;   
  align-items: center;
  padding-left: 40%;
  flex-wrap: nowrap;              
  width: 20%;
  
}


#inputCNP {
    border-style: dashed;
}


input {
    border: 2px solid currentcolor;
  }
  input:invalid {
    border: 2px dashed red;
  }
  input:invalid:focus {
    background: red;
  }

  